[submodule "AeroKernel"]
	path = AeroKernel
	url = https://github.com/brandonbraun653/AeroKernel.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/FreeRTOS"]
	path = lib/FreeRTOS
	url = https://github.com/brandonbraun653/FreeRTOS.git
[submodule "lib/CommonTools"]
	path = lib/CommonTools
	url = https://github.com/brandonbraun653/CommonTools.git
[submodule "lib/Chimera"]
	path = lib/Chimera
	url = https://github.com/brandonbraun653/Chimera.git
[submodule "lib/sparsepp"]
	path = lib/sparsepp
	url = https://github.com/brandonbraun653/sparsepp.git
